.whole-container {
  font-family: "Rubik", sans-serif;
}

.purchase {
  font-size: 80%;
  margin-left: 1%;
  color: #ff9a5a;
}

.customer-title {
  font-weight: 500;
  text-transform: capitalize;
}

.customer-name {
  text-transform: capitalize;
  font-weight: 600;
}

.review-list {
  padding-left: 0;
  transition: 0.3s;
}
.review-list-item {
  list-style-type: none;
  transition: 0.3s;
}
