.review-form {
  font-family: "Rubik", sans-serif;
  background-color: #faf8f6;
  padding: 5px;
  border-top: 0.5px solid #e3e3e4;
}

.add-review-container {
  margin: 3% 5%;
}

.review-button {
  height: 40px;
  width: 200px;
  margin: 0;
}

.submit-container {
  margin-left: -1%;
}
