.card-image {
  height: 300px;
  width: 300px;
}

.card {
  font-family: "Rubik", sans-serif;
  border: 0 !important;
}

.card-body {
  height: 100%;
  width: 100%;

}

.card-title {
  font-size: medium;
  font-weight: bold;
  margin-top: -5%;
}

.container-price {
  display: flex;
}

.card-text {
  margin-top: 0%;
}

#card-button {
  margin-left: auto;
  height: 70%;
  margin-top: 5%;
  background-color: #098666;
  border: none;
  opacity: 0.7;
}

#card-button:hover {
  opacity: 1;
  transition: 0.5s;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0 0 5px 2px #979da6;
}

.cart-logo {
  margin-top: -3%;
}

.price {
  margin-left: 3%;
}