.image {
  width: 100%;
  padding: 10px 10px;
}

.image > * {
  width: 100%;
  height: 70vh;
}
.loading-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
