#parent {
  position: relative;
  overflow: inherit;
  margin: px 50px 0px 0px;
  width: 100%;
  margin-right: 20px;
}

#child {
  border-radius: 5px;
  bottom: 0px;
  top: 73%;
}
#child > * {
  background-color: #eee;
  position: absolute;
  display: block;
}
.form {
  position: relative;
}

.form span {
  position: absolute;
  right: 17px;
  top: 13px;
  padding: 2px;
  border-left: 1px solid #d1d5db;
}

.left-pan {
  padding-left: 7px;
}

.left-pan i {
  padding-left: 10px;
}

.form-input {
  height: 55px;
  text-indent: 33px;
  border-radius: 10px;
}

.form-input:focus {
  box-shadow: none;
  border: none;
}
.searchbar-list {
  /* margin-top: 5px; */
  border-radius: 10px;
  list-style-type: none;
  z-index: 10;
  width: 100%;
  padding-left: 5px;
  /* box-shadow: 10px 5px 5px red; */
}
.searchbar-listItem {
  font-weight: 400;
  padding: 5px;
  border-radius: 5px;
}
.searchbar-listItem:hover {
  background-color: #ffffff;
  cursor: pointer;
}
