

.root{
    padding: 10%;
    background-color: #eeeeee;
}
.cartContainer,
.cartContainerProducts{
    padding: 10%;
    background-color: white;
}   
.cartContainerProducts{
    padding: 5%;

}

.title{
    display: flex;
    justify-content: space-between;
}
.title > p{
    margin: 0;
    padding: 10px;
}